.composition {
    position: relative;

    &__photo {
        width: 55%;
        border: 2px;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        position: absolute;
        z-index: 1;
        transition: all .4s;

        &--p1 {
            left: 0;
            top: -1rem;
        }

        &--p2 {
            right: 0;
            top: 3rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.2);
            outline-offset: 1.5rem;
            outline: 1rem solid $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            z-index: 10;
        }
        
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}