.story {
    width: 75%;
    padding: 6rem;
    background-color: rgba($color: $color-white, $alpha: .5);
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: .1);
    transform: skewX(-10deg);

    & > * {
        transform: skewX(10deg);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        margin-right: 2rem;
        position: relative;

    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .4s;
    }

    &__text {
        font-size: $default-font-size;
        text-align: justify;
    }

    &__caption {
        @include center;
        transform: translate(-50%, 20%);
        font-size: 1.7rem;
        color: $color-white;
        text-transform: uppercase;
        transition: all .6s;
        opacity: 0;

    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}